<div class="weather-report">
	<h1 class="location-name">{{name}}</h1>
	<hr>
	<div class="flex-container condition">
		<div class="flex-item">
			<div class="icon">
				<i class="icon-{{weather.[0].icon}}"></i>
			</div>
			<!-- /.icon -->
		</div>
		<!-- /.flex-item -->
		<div class="flex-item">
			<div class="temperature">
				<span class="degrees">{{main.temp}}<sup class="label">&deg; F</sup></span>
			</div>
			{{#with weather.[0]}}
			<div class="description">{{description}}</div>
			<!-- /.description -->
		</div>
		<!-- /.flex-item -->
		{{/with}}
		<!-- /.temperature -->
	</div>
	<!-- /.clearfix -->
	<hr>
	<div class="flex-container">
		<div class="flex-item">
			{{#with wind}}
			
			<div class="wind-speed"><strong>Wind</strong> {{speed}} mph</div>
			<div class="wind-direction">
				<strong>Direction</strong> <span class="direction">{{direction}}</span>
				<i class="wind-direction-icon" style="transform: rotateZ({{deg}}deg);"></i>
			</div>
			{{/with}}
		</div>
		<!-- /.flex-item -->
		<div class="flex-item">
			<div class="humidity"><strong>Humidity</strong> {{main.humidity}}%</div>
			<div class="pressure"><strong>Pressure</strong> {{main.pressure}}mBar</div>
		</div>
		<!-- /.flex-item -->
		<div class="flex-item">
			<div class="sunrise"><strong>Sunrise</strong> {{sys.sunrise}}</div>
			<div class="sunset"><strong>Sunset</strong> {{sys.sunset}}</div>
		</div>
		<!-- /.flex-item -->
	</div>
	<!-- /.flex-container -->
	<hr>
	&copy; Tanveer Karim. View on <a href="https://github.com/tanmancan/weather">Github</a>
</div>